ES_USER=<OpenSearch username>
ES_PASS=<OpenSearch password>

PRODUCTS_JSON_FILE=<path to bbuy_products.json>
QUERIES_JSON_FILE=<path to bbuy_queries.json>
DATASETS_DIR=<The directory where you want the Kaggle data files to be extracted to. Example, /home/user/search_fundamentals_course/datasets>
PRIOR_CLICKS_LOC=<location to the train.csv, the file downloaded from Kaggle>

PYTHON_BIN=<path to the Python executable, run `which python` to find out>
PYTHON_LOC=</home/user/search_fundamentals_course/week1>

# This is the location of your project Python code.
LOGS_DIR=</home/user/search_fundamentals_course/logs">
