<div id="search-box" class="bg-blue-500 p-4">
<script type="application/javascript">
  countries = ["US", "Canada"]
  ac = new Autocomplete('#autocomplete', {
  search: input => {
    if (input.length < 1) { return [] }
    return countries.filter(country => {
      return country.toLowerCase()
        .startsWith(input.toLowerCase())
    })
  }
})
</script>
  <form method="post" action="{{ url_for('search.query') }}" id="searchForm">
    <div class="sm:flex">
    div id="autocomplete" class="autocomplete">
      <input class="flex-grow w-full sm:w-auto autocomplete-input" name="query" id="query" type="search" placeholder="Enter a search" value="{{ query|e }}" required>
      <ul class="autocomplete-result-list"></ul>
    </div>
    <input type="submit" value="Query" class="hidden">
    <div class="sm:ml-2 pt-2 sm:pt-0">
      <select name="sort" id="sortControl">
        <option value="_score" {% if sort == "_score" %}selected{% endif %} >Relevance</option>
        <option value="name.keyword" {% if sort == "name.keyword" %}selected{% endif %}>Name</option>
        <option value="salesRankShortTerm" {% if sort == "salesRankShortTerm" %}selected{% endif %}>Popularity</option>
        <option value="regularPrice" {% if sort == "regularPrice" %}selected{% endif %}>Price</option>
      </select>
      <select name="sortDir" id="sortDirControl">
        <option value="asc" {% if sortDir == "asc" %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if sortDir == "desc" %}selected{% endif %}>Descending</option>
      </select>
    </div>
    </div>
  </form>
</div>

<script>
  const searchForm = document.getElementById('searchForm')
  const sortControl = document.getElementById('sortControl');
  const sortDirControl = document.getElementById('sortDirControl');
  sortControl.addEventListener('change', () => {
    searchForm.submit();
  })
  sortDirControl.addEventListener('change', () => {
    searchForm.submit();
  })
  
</script>
